<!doctype html>
<html>
  <head>
    <title><%=forumName%> - Post</title>
    <link rel="stylesheet" type="text/css" href="/main.css" />
  </head>
  <body>
    <h1><%=forumName%></h1>
    <h2>Post</h2>
    <p>Title: <%= post.post_title%></p>
    <p>Date: <%= post.post_date.toDateString() %> <%= post.post_date.getHours() %>:<%= post.post_date.getMinutes() %></p>
    <p>Content: <%= post.post_content %></p>
    <p>Topic: <%= post.topic_title %></p>
    <p>User: <%= post.username%></p>
  </body>
</html>